# Data Science Tools and Ecosystem

## Author
Yuri Seki

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of popular Data Science Tools
- Example os evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. Scala

|Data Science Tools|
--------------------
|Jupyter Notebook|
|R Studio|
|Pytorch|

Below are a few examples of evaluating arithmetic expressions in Python

```python
# Addition, subtraction, multiplication, division
a = 10
b = 5

sum_result = a + b          # 10 + 5 = 15
diff_result = a - b         # 10 - 5 = 5
product_result = a * b      # 10 * 5 = 50
division_result = a / b     # 10 / 5 = 2.0

print(sum_result, diff_result, product_result, division_result)
```

As the result, we will get:
```
15 5 50 2.0
```

In [8]:
# This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print(result)

17

In [24]:
minutes = 200
# This will convert 200 minutes to hours by diving by 60
hours = minutes / 60
print(f"{minutes} monutes = {hours:.1f} hours")

200 monutes = 3.3 hours